ACCESS_SECRET=
REFRESH_SECRET=
BCRYPT_SALT_ROUNDS=

DB_HOST=
DB_USER=
DB_DATABASE=
DB_PASSWORD=

RDS_HOST=
RDS_USER=
RDS_DATABASE=
RDS_PASSWORD=
RDS_PORT=

AWS_ACCESSKEY_ID=
AWS_SECRET_ACCESSKEY=
AWS_REGION=

KAKAO_CLIENT_ID=
KAKAO_REDIRECT_URI=

GOOGLE_CLIENTID=
GOOGLE_PASSWORD=
GOOGLE_REDIRECT_URI=

NAVER_CLIENT_ID=
NAVER_CLIENT_SECRET=



